- @meta_title =  "Über uns - Hundetraining Teamarbeit"
- @meta_description =  page.mission

%h1="Über uns und unsere Arbeit"

%h2.centered= nl2br(page.mission)

= simple_format(page.description, :class => "description")