- @meta_title =  "Über uns - Hundetraining Teamarbeit"
- @meta_description =  page.mission

%article.view
  %header
    %h1.h1="Über uns und unsere Arbeit"
  
  .leftcol.floatleft
    %div
      %strong.h3= nl2br(page.mission)

  .rightcol.gradient_trans.floatright
    
    %h2.h3 Mehr über das Team 
    %nav.sidebar
      %ul
        %li 
          %a{ :href => url("/ueberuns/estherfollmann"), :title => "Esther Follmann, Hundeschule CaneAmi"} 
            %b
              &raquo; 
            Esther Follmann
        %li 
          %a{ :href=> url("ueberuns/mirjamaulbach"), :title => "Mirjam Aulbach, Hundeschule CaveCani"} 
            %b
              &raquo; 
            Mirjam Aulbach
  .clear

  = simple_format(page.description)
  %figure
    %img{ :src => url("/images/esther_mirjam.jpg"), :alt => "Mirjam Aulbach, Hundeschule CaveCani und Esther Follmann, Hundeschule CaneAmi"}
    %figcaption Mirjam Aulbach und Esther Follmann
