- @meta_title = album.name
- if album.description 
  - @meta_description = album.description
- else 
  - @meta_description = "Bilder Hundetraining Temarbeit - Album " + album.name 

%article
  %header 
    %h1.h1=album.name 
  %p
    %b
      Album erstellt:
    = I18n.l(album.created_date, :format => "%d.%m.%Y")
    %br
    %b
      Zuletzt aktualisiert: 
    = I18n.l(album.updated_date, :format => "%d.%m.%Y")

  - if album.description 
    %p=linkify(album.description)
  
  %p 
    %small 
      Mit Klick auf ein Bild wird es vergrössert, die Bildbeschreibung (wenn vorhanden) ist zu lesen und das Album kann als Diashow angesehen werden.


  %ul#images{ :data => { :collection => "photos" } }
    - album.photos.each do |photo|
      %li
        %a.img_wrap{ :href => photo.url, :data => {:fancyboxgroup  => "photo"} , :title => photo.name }
          %div.cover{ :style => "background-image: url(#{photo.thumb})" }