- @meta_title =  "Esther Follmann - Über uns"
- @meta_description =  "Esther Follmann, Hundetraining Teamarbeit"

%h1.h1="Esther Follmann"

%article
  
  %p
    Esther im Web: 
    %a{ :title =>"Hundeschule CaneAmi", :href => "http://caneami.de"}
      CaneAmi

  %figure
    %img{ :src => url("/images/esther_follmann_caneami.jpg"), :alt => "Esther Follmann, Hundeschule CaneAmi"}
    %figcaption Esther Follmann

  %h2.h2 Esther stellt sich vor

  %p
    Nunmehr 15 Jahre lebe und lerne ich mit Hunden.

  %p
    1996, 1998 und 2003 zog jeweils ein Hund der Rasse Rhodesian Ridgeback ein. Angefangen hat das Leben und Lernen mit Hund als Kunde mit unserer Fine in 2 verschiedenen Hundeschulen, dann ehrenamtlich als Trainerin mit Menschen und ihren Hunden verschiedener “Couleur”.

  %p 
    März 2003 – Beginn einer Weiterbildung bei Fr. Dr. Ute Blaschke-Berthold,CumCane.

  %p
    Seit Mai 2005 geprüfte CumCane®–Trainerin.

  %p 
    Meine eigene Hundeschule-Verhaltensberatung- Kynopraxis besteht seit 2003.

  %p 
    Über 4 Jahre begleitete ich Fr. Dr. Ute Blaschke–Berthold vielfach als Co-Trainerin bundesweit und im deutschsprachigem Ausland zu Seminaren, die von interessierten Hundebesitzern, Hundeschulen und Hundevereinen veranstaltet wurden.

  %p 
    Seit Ende 2005 referiere ich selbst zu verschiedenen Themen bundesweit und im deutschsprachigem Ausland; veranstalte in der Umgebung von Neustadt/Wstr. eigene Seminare auch mit ausgesuchten Referenten. Gerne zu populären Themen, die Wissensneuerungen/-erinnerungen über Hunde und den Umgang mit ihnen in Theorie und Praxis aufzeigen.

  %p
    Seit 2010 referiere ich auch immer wieder sehr gerne einige Seminare zusammen mit meiner Kollegin Mirjam Aulbach – Hundetraining CaveCani - unter dem gemeinsamen Projektnamen Hundetraining Teamarbeit.

  %p 
    2009/2010 Mitglied im Ausbildungsrat der IBH.

  %p
    Seit 2012 Dozentin bei Fortbildungsinstitut für Tierpsychologen & Tierheilpraktiker

  %figure
    %img{ :src => url("/images/kisha_peppa.jpg"), :alt => "Kisha und Peppa-Rose"}
    %figcaption Esthers vierbeinige Familenmitglieder: Kisha und Peppa-Rose