- @meta_title = "Seminare, Workshops & mehr - Hundetraining Teamarbeit"
- @meta_description = "Rund um den Hund: Unsere aktuellen Seminare und Workshops in der Übersicht."

%article
  %h1.h1 Seminare & Workshops
  %p 
    Hier findet sich eine Übersicht über unsere aktuellen Veranstaltungen: 
  %ol
    - events.each do |event|
      = haml(:_single_event, :layout => false, :locals => { :event => event, :standalone => false })