- @meta_title = event.name + "- Seminar Hundetraining Teamarbeit"
- @meta_description = "Seminar mit Esther Follmann und Mirjam Aulbach - " + event.summarymeta

%article
  %h1.h1.single_event= event.name

  = haml(:_single_event, :layout => false, :locals => { :event => event, :standalone => true })