- @meta_title = "Seminare, Workshops & mehr"
- @meta_description = "Unsere aktuellen Veranstaltungen in der Übersicht"

%h2.h1 Seminare, Workshops & mehr

%article
  %p 
    Hier findet sich eine Übersicht über unsere aktuellen Veranstaltungen: 
  %ol#events
    - events.each do |event|
      = haml(:_single_event, :layout => false, :locals => { :event => event })