- @meta_title = event.name + "- Seminar Hundetraining Teamarbeit"
- @meta_description = "Seminar mit Esther Follmann und Mirjam Bäuerlein (geb. Aulbach) - " + event.summarymeta

%article
  = haml(:_single_event, :layout => false, :locals => { :event => event, :standalone => true })