- @meta_title = "Willkommen - Hundetraining Teamarbeit"
- @meta_description = "Hundetraining Teamarbeit ist die Zusammenarbeit zwischen Esther Follmann, Hundeschule CaneAmi und Mirjam Aulbach, Hundeschule Cave Cani. Wir sind beide geprüfte CumCane Trainerinnen."

%h2.h1 Willkommen

%h1.h2.about Hundetraining ist für uns in mehr als einer Hinsicht Teamarbeit!

%article
  %p
    Hundetraining Teamarbeit ist die Zusammenarbeit zwischen Esther Follmann, 
    %a{ :title => "Hundeschule CaneAmi", :href => "http://caneami.de" }
      Hundeschule CaneAmi
    und Mirjam Aulbach,
    %a{ :title => "Hundeschule Hundetraining CaveCani", :href => "http://cavecani.de" }
      Hundeschule Cave Cani
    ="."

  %p 
    Wir beide sind geprüfte 
    %a{ :title => "Hundeschule & Praxis für Tierverhaltenstherapie CumCane", :href => "http://cumcane.de"}
      CumCane&reg; 
    Trainerinnern. 
    Zudem sind wir beide geprüftes Mitglied im 
    %a{ :title => "Internationaler Berufsverband der Hundetrainer/innen e.V.", :href => "http://ibh-hundeschulen.de"}
      IBH - Internationaler Berufsverband der Hundetrainer/innen e.V.
    ="."


  .img.logosstart.floatleft
    %img{ :src => url("/images/cumcane_logo.png"), :alt => "CumCane"}
  .img.img.logosstart.floatleft
    %img{ :src => url("/images/logo-ibh.gif"), :alt => "IBH"}
  .clear
  %br
  %br
  %br
%h2.h2 Neuigkeiten rund um Hundetraining Teamarbeit

- posts.each do |post|
  %article
    %p.published_at
      %time{ :pubdate => "pubdate", :datetime => post.upated_at.iso8601 }= post.date
    %p= nl2br(linkify post.message)