- @meta_title = "Willkommen - Hundetraining Teamarbeit"
- @meta_description = "Hundetraining Teamarbeit ist die Zusammenarbeit zwischen Esther Follmann, Hundeschule CaneAmi und Mirjam Aulbach, Hundeschule Cave Cani. Wir sind beide geprüfte CumCane Trainerinnen."

%h2.h1 Willkommen

%h1.h2 Hundetraining ist für uns in mehr als einer Hinsicht Teamarbeit!

%article
  %p Hundetraining bedeutet, dass wir mit unseren Kunden im Team arbeiten.
  %p Hundetraining bedeutet, dass unser Ziel ist, Hund und Mensch zu einem guten und zufriedenen Team zu machen.
  %p Hundetraining bedeutet für uns,dass wir beide oft als Team arbeiten!
  


- posts.each do |post|
  %article
    %p.published_at
      %time{ :pubdate => "pubdate", :datetime => post.upated_at.iso8601 }= post.date
    %p= nl2br(linkify post.message)