- @meta_title =  "Mirjam Aulbach - Über uns"
- @meta_description =  "Mirjam Aulbach, Hundetraining Teamarbeit"

%h1.h1="Mirjam Aulbach"

%article
  %p
    Mirjam im Web: 
    %a{ :title =>"Hundeschule Hundetraining CaveCani", :href => "http://cavecani.de"}
      CaveCani

  .img.teamsingle
    %img{ :src => url("/images/mirjam_aulbach_cavecani.jpg"), :alt => "Mirjam Aulbach, Hundetraining Hundeschule CaveCani"}
    %p Mirjam Aulbach

  %h2.h2 Mirjam stellt sich vor

  %p
    Ich bin bei manchen Dingen Perfektionist. Das ist die Erklärung dafür, warum ich kurz nach dem Einzug unseres Hundes Terrie eine Ausbildung als Hundetrainer begonnen habe. 

  %p Dazu muss man sagen: Noch gibt es in Deutschland keine anerkanntes Berufsbild des Hundetrainer! Ausbildungen zum “Hundetrainer” oder “Hundepsychologen” oder “Problemhundetrainer” und ähnliches bieten mittlerweile viele Stellen in Deutschland und auch dem Ausland an. Nicht jede Ausbildung ist qualitativ hochwertig und es gibt nach wie vor große Unterschiede in den Trainingsansätzen. 

  %p Aus diesem Grund war habe ich mich 2006 gründlich auf die Suche nach einer Ausbildungseinrichtung gemacht, die mir qualifiziert genug erschien und die Trainingsansätze lehrt, die nicht gegen meine “Prinzipien” verstossen.

  %p Ich bin ein Mensch, der Dinge gerne von Grund auf lernt und versteht. Ich liebe die vermeintlich graue Theorie und kann bei für mich interessanten Themen nie genug lernen. Meine Lieblingsfrage ist immer – WARUM ist etwas, wie es ist. Das hat mir die Wahl unter vielen Angeboten der Ausbildung sehr erleichtert! Im Jahr 2006 bin ich bei CumCane gelandet und arbeite seit 2009 als geprüfte CumCane®-Trainerin.

  %p Seit 2011 bin ich Mitglied im IBH - Internationaler Berufsverband der Hundetrainer/innen e.V. - und arbeite auch aktiv im Verein mit. 

  %p Aktuell lebe ich samt meiner Familie – einem Zweibeiner, 2 Katzen und 1 Hund - in Babenhausen in Hessen. 

  .img.teamsingle
    %img{ :src => url("/images/ruby.jpg"), :alt => "Kisha und Peppa-Rose"}
    %p Der Hund unter Mirjams vierbeinigen Familienmitgliedern: Ruby
  %p
    Übrigens - Ruby hat einen eigenen Blog unter 
    %a{ :title =>"Ruby - A Dog's Life With Nerds", :href => "http://ruby.cavecani.de"}
      Ruby - A Dog's Life With Nerds