html, body {
  height: 100%;

}

html {
  overflow: -moz-scrollbars-vertical;
  background-image: url("/images/straws.png");
  background-repeat: repeat;
}

body {
font-family: Helvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
margin: 0;
color: #444;
font-size: 0.9em;
}

#container {
  width: 900px;
  height: 100%;
  min-height: 100%;
  height: auto !important;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: left;
  background-color: #FCFCFC;
  box-shadow: 2px 2px 5px #888888;
}

header {
height: 250px;
background-color: #333;
}
/*Background-Color Platzhalter
*/


.logo {
    left: 25px;
    outline: medium none;
    position: relative;
    top: 105px;
}

#mainnav {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.7em;
  height: 50px;
  text-align: center;
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
  position: relative;
  top: 137px;
}

nav a {
  color: $black;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  background-image: url("/images/main_nav_bg.png");
  float: left;
  height: 21px;
  margin-right: 10px;
  padding-left: 5px;
  padding-top: 7px;
  width: 152px;
}

nav ul li.active  {
	font-weight: bold;
	background-image: url("/images/main_nav_bg_active.png");
}

#content {
  clear: both;
  padding: 30px 50px 0;
}

footer {
  margin-top: 100px;
  padding: 0 40px 20px;
  clear: both;
}

#infos_bottom {
text-align: center;
font-size: 77%;
padding-top: 20px;
margin-top: 70px;
border-top: 1px solid $light_grey;
}