/*
* CSS Angaben für Startseite inkl. FB Feed
*
*/


/* Logos auf Startseite */

.logos {
  width: 320px;
  background: none repeat scroll 0 0 #fff;
  padding: 5px 5px 5px 5px;
  border: 1px solid #EEEEEE;
  box-shadow: 2px 2px 3px $light_grey;
}

.logos img {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
}

/* PRÜFEN */

.fb_feed p {
  font-size: 90%;
  line-height: 1.15;
  min-height: 60px;
  padding-top: 3px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.fb_feed_date {
  font-size:12px;
  font-weight: bold;
  color: $white;
  line-height: 100%;
  font-style: normal;
  font-weight:normal;
  letter-spacing:-1px;
  height: 44px;
  width: 44px;
  margin-right: 8px;
  margin-left: -10px;
  background: $light_green;
  -webkit-border-radius: 300px 300px 300px 300px;
  -moz-border-radius: 300px 300px 300px 300px;
  border-radius: 300px 300px 300px 300px;
  border: 2px solid white;
  box-shadow: 1px 0px 2px $light_grey;
}


.feed_day_month {
  padding-top: 11px;
  padding-left: 5px;
}

.feed_year {
  padding-left: 11px;
}

.fb_feed hr {
  border: 0;
  height: 1px;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right: -15px; 
  background: -moz-linear-gradient(left,  rgba(153,153,153,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(153,153,153,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(153,153,153,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(153,153,153,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(153,153,153,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(153,153,153,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6999999', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}


img.postpicture {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding: 1px;
  background-color: $light_green;
  max-width: 70px;
  height: auto;
  margin-right: -20px;
}

/* 
* Bildergallerie Starseite
*/
#startgallery {
  margin-top: 70px;
}

#startgallery p {
  font-size: 80%;
  text-align: center;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding-bottom: 100px;
  margin-right: 25px;
  margin-bottom: -60px;
}

#startgallery .minih2 {
font-size: 180%;
}


#startgallery ul {
  background-color: $dark_grey;
}

#startgallery li {
  float:left;
  margin-right: 15px;
  margin-bottom: 15px;
}

#startgallery .cover {
  width: 250px;
  height: 167px;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

#startgallery .cover:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

#startgallery a.img_wrap {
  display: block;
}